/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Base Style set */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.sign-in-btn {
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 8px;

  border: 1px solid rgb(0, 106, 80);
}

/*==============Navbar=========================*/
.navbar {
  background-color: rgb(245, 245, 245);
}

.navbar-content {
  display: flex;
  align-items: center;
  padding: 24px 160px;
  justify-content: space-between;
}

.nav-logo {
  font-size: 32px;
  font-weight: 700;
}

/*==============hero section=========================*/
.hero {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 80px 100px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  justify-content: space-between;
}
.hero-text {
  flex: 1;
  padding-right: 20px;
  max-width: 622px;
}

.hero-img {
  max-width: 100%;
  width: 474.03px;
}

.heading {
  margin-top: 16px;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
